<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wellcome{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block menubar %}
        <div id="header">
            <div class="menubar ui-widget-header ui-corner-all">
                {% include 'menu/show.html.twig' %}
            </div>
        </div>
    {% endblock %}
    <div id="page">
        {% block page %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("build/manifest.js") }}"></script>
    <script src="{{ asset("build/vendor.js") }}"></script>
{% endblock %}
</body>
</html>
