<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#<script src="{{ asset('build/app.js', 'webpack') }}"></script>#}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js', 'webpack') }}"></script>
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>
</html>
