<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}Wellcome{% endblock %}</title>

    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block load_data %}
    {% endblock load_data %}
</head>

<body>
{% block body %}
    {% spaceless %}
        {% block menubar %}
            <div>
                <div class="menu">
                    <nav>
                        {{ knp_menu_render('main') }}
                    </nav>
                </div>
                {% block spinner %}
                    <div id="spinner">
                        <progress class="button-right" id="ajax_spinner" style="display: block;"></progress>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        <div id="page">
            {% block page %}
            {% endblock %}
        </div>
        <div id="footer">
            <hr>
            <div id="footer_content">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js', 'webpack') }}"></script>
{% endblock %}
</body>
</html>
