    <div class="menubar ui-widget-header ui-corner-all"><a href="#" class="module_menu_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button"><span class="ui-button-text">Admin</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-1" class="ui-menu ui-widget ui-widget-content ui-menu-flyout" role="menu" tabindex="0" style="display: none;">
            <li class="ui-menu-item" id="ui-id-2" tabindex="-1" role="menuitem"><a href="config.php?display=users" class="">Administrators</a></li>
            <li class="ui-menu-item" id="ui-id-3" tabindex="-1" role="menuitem"><a href="config.php?display=modules" class="">Setup Module</a></li>
            <li class="ui-menu-item" id="ui-id-4" tabindex="-1" role="menuitem"><a href="config.php?display=test" class="">Test Page</a></li>
        </ul>
        <a href="config.php?display=capture" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Archive Cam</span></a><a href="#" class="module_menu_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button"><span class="ui-button-text">Exim</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-5" class="ui-menu ui-widget ui-widget-content ui-menu-flyout" role="menu" tabindex="0" style="display: none;">
            <li class="ui-menu-item" id="ui-id-6" tabindex="-1" role="menuitem"><a href="config.php?display=eximlist" class="">Edit ACL</a></li>
            <li class="ui-menu-item" id="ui-id-7" tabindex="-1" role="menuitem"><a href="config.php?display=eximdomain" class="">Edit Domain</a></li>
            <li class="ui-menu-item" id="ui-id-8" tabindex="-1" role="menuitem"><a href="config.php?display=eximspam" class="">Edit Spam Filter</a></li>
            <li class="ui-menu-item" id="ui-id-9" tabindex="-1" role="menuitem"><a href="config.php?display=eximsearch" class="">Log Search</a></li>
        </ul>
        <a href="#" class="module_menu_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button"><span class="ui-button-text">Image Cam</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-10" class="ui-menu ui-widget ui-widget-content ui-menu-flyout" role="menu" tabindex="0" style="display: block; position: absolute; top: 26px; left: 240px;">
            <li class="ui-menu-item" id="ui-id-11" tabindex="-1" role="menuitem"><a href="config.php?display=gusev" class="">Gusev Cam</a></li>
            <li class="ui-menu-item" id="ui-id-12" tabindex="-1" role="menuitem"><a href="config.php?display=kurgankzkt" class="">KZKT Cam</a></li>
            <li class="ui-menu-item" id="ui-id-13" tabindex="-1" role="menuitem"><a href="config.php?display=sovetsk" class="">Sovetsk Cam</a></li>
            <li class="ui-menu-item" id="ui-id-14" tabindex="-1" role="menuitem"><a href="config.php?display=tumen" class="">Tumen Cam</a></li>
        </ul>
        <a href="config.php?display=linkgps" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Link</span></a><a href="#" class="module_menu_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button"><span class="ui-button-text">Live Cam</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-15" class="ui-menu ui-widget ui-widget-content ui-menu-flyout" role="menu" tabindex="0" style="display: none;">
            <li class="ui-menu-item" id="ui-id-16" tabindex="-1" role="menuitem"><a href="config.php?display=livegps" class="">Group Cam GPS</a></li>
            <li class="ui-menu-item" id="ui-id-17" tabindex="-1" role="menuitem"><a href="config.php?display=liveyantarenergo" class="">Group Cam YantarEnergo</a></li>
            <li class="ui-menu-item" id="ui-id-18" tabindex="-1" role="menuitem"><a href="config.php?display=livekurgankzkt" class="">KZKT Cam</a></li>
            <li class="ui-menu-item" id="ui-id-19" tabindex="-1" role="menuitem"><a href="config.php?display=livegusev" class="">Маяковская ТЭС (видео)</a></li>
            <li class="ui-menu-item" id="ui-id-20" tabindex="-1" role="menuitem"><a href="config.php?display=livepregolskay" class="">Прегольская ТЭС (видео)</a></li>
            <li class="ui-menu-item" id="ui-id-21" tabindex="-1" role="menuitem"><a href="config.php?display=liveprimorsky" class="">Приморская ТЭС (видео)</a></li>
            <li class="ui-menu-item" id="ui-id-22" tabindex="-1" role="menuitem"><a href="config.php?display=livesovetsk" class="">Талаховская ТЭС (видео)</a></li>
            <li class="ui-menu-item" id="ui-id-23" tabindex="-1" role="menuitem"><a href="config.php?display=livetumen" class="">Тюмень МПЗ (видео)</a></li>
        </ul>
        <a href="#" class="module_menu_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-secondary" role="button"><span class="ui-button-text">Reports</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-24" class="ui-menu ui-widget ui-widget-content ui-menu-flyout" role="menu" tabindex="0" style="display: none; position: absolute; top: 26px; left: 478px;">
            <li class="ui-menu-item" id="ui-id-25" tabindex="-1" role="menuitem"><a href="config.php?display=eximgraph" class="">Exim Graphic's</a></li>
            <li class="ui-menu-item" id="ui-id-26" tabindex="-1" role="menuitem"><a href="config.php?display=maps" class="">Location</a></li>
            <li class="ui-menu-item" id="ui-id-27" tabindex="-1" role="menuitem"><a href="config.php?display=phpinfo" class="">PHP Info</a></li>
            <li class="ui-menu-item" id="ui-id-28" tabindex="-1" role="menuitem"><a href="config.php?display=spam" class="">Spam Info</a></li>
            <li class="ui-menu-item" id="ui-id-29" tabindex="-1" role="menuitem"><a href="config.php?display=index" class="">System Status</a></li>
        </ul>
        <a id="user_logout" href="#" class="logout button-right ui-widget-content ui-state-default ui-button ui-widget ui-corner-all ui-button-text-only" title="logout" role="button"><span class="ui-button-text">Logout: nikolns</span></a>
        <progress class="button-right" id="ajax_spinner"></progress>
        <a id="button_reload" href="#" data-button-icon-primary="ui-icon-gear" class="ui-state-error  ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Apply Config</span></a></div>


