{% extends 'base.html.twig' %}

{% block title %}{{ titleHeader }}{% endblock %}

{% block page %}
    <div id="agContrAgent"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/contr_agent.js', 'webpack') }}"></script>
{% endblock %}