{% extends 'base.html.twig' %}

{% block title %}{{ titleHeader }}{% endblock %}

{% block page %}
    <div id="agProject"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/project.js', 'webpack') }}"></script>
{% endblock %}