{% extends 'base.html.twig' %}

{% block title %}{{ titleHeader }}{% endblock %}

{% block page %}
    <div class="ui segment" style="height: 84vh;">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <div id="app"></div>
            </div>
            <div class="column">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="ui vertical divider">
            and
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/mail_domain.js', 'webpack') }}"></script>
{% endblock %}